<div class="tm-section about-us-area bg-grey">
    <div class="about-image" data-bgimage="assets/images/others/about-image-1.jpg" data-overlay="1">
        <div class="tm-videobutton">
            <a data-fancybox href="https://www.youtube.com/watch?v=Sv511KEiIJQ">
                <span><i class="flaticon-play-button"></i></span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="about-content tm-padding-section">
                    <h2><span><span class="color-theme">Positive Effects</span> of</span><br>
                        Dialia Registered Massage Therapy</h2>
                    <p>The health care profession of Dialia Registered Massage Therapy is far more
                        advanced than typical bodywork or relaxation massage.</p>
                    <p>Registered Massage therapy can be used for the treatment of both acute and
                        chronic conditions. The purpose of massage is generally for the treatment of
                        body stress or pain. Our services will help you reduce stress, relieve pain
                        from headaches, reduce
                        pain from injuries. Registered Massage Therapy is a safe and natural health
                        care
                        therapy that can help alleviate the discomfort associated with everyday. </p>
                    <div class="about-contentbottom">
                        <a href="about-us.html" class="tm-button">Read more</a>
                        <a href="tel:+18009156270" class="tm-callbutton">
                            <span class="tm-callbutton-icon"><i class="zmdi zmdi-phone-in-talk"></i></span>
                            <h3>1-800-915-6270</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "About Us",
        "settings": [
            
        ],
        "presets": [
            {
              "name": "About Us"
            }
          ]
    }
{% endschema %}
